log/*.log
tmp
tmp/**/*
doc/**/*
doc/*
config/database.yml
db/*.sqlite3
db/schema.rb
*~
start
*.swp
*.swo
features
spec
*.dat
.bundle
.vagrant
*.bak
.box
.box/**/*
*.gem
bin/ai
bin/aifield
bin/aissh
bin/aitag
bin/automateit
bin/erubis
bin/rackup
bin/rails
bin/rake
bin/rdoc
bin/ri
bin/sow
bin/sprockets
bin/thor
bin/tilt
bin/tt
vendor/gems/automateit
