%li= link_to t("navigation.domains"), domains_path, :class => current_page?(domains_path) ? 'active' : ''
%li= link_to t("navigation.server_settings"), server_path, :class => current_page?(server_path) ? 'active' : ''
%li= link_to t("navigation.admins"), admin_users_path, :class => current_page?(admin_users_path) ? 'active' : ''
%li= link_to t("navigation.statistics"), statistics_path, :class => current_page?(statistics_path) ? 'active' : ''
